.directions-hidden {
  display: none;
  color: white;
}
#intro {
  color: white;
}

.planets-navbar img {
  max-width: 100px;
  max-height: 100px;
}

h1 {
  color: green;
  text-align: center;
}

body {
  background-color: black;
}

.planets-hidden {
  display: none;
}
.planets-hidden p,
.planets-hidden h3 {
  color: white;
}

#map {
  height: 500px;
  width: 500px;
display: none;
}

#sun-hidden {
  display: none;
}

#mercury-hidden {
  display: none;
}

#venus-hidden {
  display: none;
}

#earth-hidden {
  display: none;
}

#mars-hidden {
  display: none;
}

#jupiter-hidden {
  display: none;
}

#saturn-hidden {
  display: none;
}

#uranus-hidden {
  display: none;
}

#neptune-hidden {
  display: none;
}

#pluto-hidden {
  display: none;
}

#ismene-hidden {
  display: none;
}

#moon-hidden {
  display: none;
}

img {
  max-width: 75%;
}

/*#map {
  background-image: url("../img/PDXmap.png");
  height: 600px;
  width: 600px;
  background-size: cover;
  overflow-x: auto;
}

#sun-icon {
  position: relative;
  display: block;
  left: 57.3vw;
  top: 82vh;
  height: 1.5%;
}
#mercury-icon {
  position: relative;
  display: block;
  left: 57%;
  top: 77%;
  height: 1.5%;
}
#venus-icon {
  position: relative;
  display: block;

  left: 54%;
  top: 80%;
  height: 1.5%;
}
#earth-icon {
  position: relative;
  display: block;

  left: 51.4%;
  top: 78%;
  height: 1.5%;
}

}*/
